# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data
numpy>=1.18
pandas>=1.2.2
bs4
sqlalchemy
mysql

# tests/linter
black
coverage
flake8
pytest
yapf

# utilities
six>=1.14
memoized-property
termcolor
python-dotenv
